{% extends 'dashboard/index.html' %}
{% load static %}

{% block navbar %}
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <h5 id="titulo">{{ questionario.titulo }}</h5>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-comment-alt"></i>
                        </a>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.first_name }}</span>
                            <img class="img-profile rounded-circle"
                                src="{% static 'img/undraw_profile.svg' %}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Sair
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
{% endblock %}
{% block container %}
    <div class="card mx-auto w-75">
        <div class="card-header m-0 p-0">
            <ul class="nav nav-tabs nav-justified">
              <li class="nav-item">
                <a class="nav-link" href="#">Perguntas</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active " href="#">Respostas</a>
              </li>
            </ul>
        </div>
        <div id='main' class="card-body">
            {% block main %}
                <div class="jumbotron jumbotron-fluid card-deck">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Respostas</div>
                                    <div class="h5 mb-0 font-weight-bold text-primary">44</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">

                                    <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">Status</div>
                                    <div class="h5 mb-0 font-weight-bold text-primary">Ativo</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-check fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

    </div>
{% endblock %}
