
{% extends 'dashboard/index.html' %}
{% load static %}
{% block container %}
                        <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <div class="h3 mb-0 d-flex ">
                            <a class="my-auto mr-2 text-decoration-none" href="{% url 'formbuilder:dashboard' %}">
                                <i class="ti-arrow-left"></i>
                            </a>
                            <h1 class="text-gray-800 my-auto">Meus formularios</h1>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <a class="col-xl-3 col-md-6 mb-4 text-decoration-none" href="{% url 'formbuilder:criar_formulario' %}">
                            <div class="card shadow bg-info py-2 m-0 h-100">
                                <div class="card-body py-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h4 mb-0 font-weight-bold text-white">Novo Formulario</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="ti-plus w-auto text-white font-weight-bold"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% for questionario in questionarios %}
                        <a class="col-xl-3 col-md-6 mb-4 text-decoration-none" href="{% url 'formbuilder:formulario-perguntas' pk=questionario.pk%}">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ">
                                                Formulario</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ questionario.titulo }}</div>
                                            <small class="d-block">{{ questionario.dataUltimaAlteracao}}</small>
                                            {% if questionario.descricao %}
                                            <span class="text-gray-600">{{ questionario.descricao }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
{% endblock %}